<footer
  role="contentinfo"
  class="border-default dark:border-border-dark border-t pt-12 pb-6"
>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="border-default dark:border-border-dark grid grid-cols-2 gap-8 border-b pb-10 md:grid-cols-4 lg:grid-cols-5"
    >
      <div class="col-span-2 lg:col-span-2">
        <a
          href="/"
          data-route
          class="mb-4 block text-2xl font-bold text-black dark:text-white"
        >
          {{businessName}}
        </a>

        <p class="text-primary max-w-xs text-sm text-shadow-xs">
          Building custom, high-speed web solutions with an efficient,
          client-first approach. We power your digital future.
        </p>
      </div>

      <div>
        <h3 class="mb-4 text-lg font-semibold text-black dark:text-white">
          Quick Links
        </h3>
        <ul class="space-y-3">
          <li>
            <a
              href="/"
              data-route
              class="hover:text-primary text-sm text-black transition dark:text-white"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/about"
              data-route
              class="hover:text-primary text-sm text-black transition dark:text-white"
              >About Us</a
            >
          </li>
          <li>
            <a
              href="/contact"
              data-route
              class="hover:text-primary text-sm text-black transition dark:text-white"
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h3 class="mb-4 text-lg font-semibold text-black dark:text-white">
          Our Focus
        </h3>
        <ul class="space-y-3"></ul>
      </div>

      <div class="col-span-2 md:col-span-1">
        <h3 class="mb-4 text-lg font-semibold text-black dark:text-white">
          Get In Touch
        </h3>
        <p class="mb-3 text-sm text-black dark:text-white">
          We respond to all inquiries quickly and efficiently.
        </p>
        <a
          href="/contact"
          data-route
          class="text-primary text-sm font-medium hover:underline"
        >
          Send Us a Message
        </a>
      </div>
    </div>

    <div class="text-black-200 mt-6 flex items-center justify-between text-sm">
      <p>
        &copy; <span id="current-year"></span> {{businessName}}. All rights
        reserved.
      </p>
      <p class="text-xs sm:block">
        <a href="https://pixeldynasty.dev" data-route class="hover:underline"
          >Built by <em>Pixel Dynasty</em></a
        >
      </p>
    </div>
  </div>
</footer>

<script>
  // Set current year dynamically for copyright
  document.getElementById("current-year").textContent =
    new Date().getFullYear();
</script>
