<nav class="border-default dark:border-default-dark border-b">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex shrink-0 items-center">
        <a
          href="/"
          data-route
          class="text-xl font-bold text-black dark:text-white"
        >
          {{businessName}}
        </a>
      </div>

      <div
        class="hidden text-black in-active:appearance-none sm:ml-6 sm:flex sm:space-x-8 dark:text-white dark:in-active:text-black"
      >
        <a
          href="/"
          data-route
          class="nav-link hover:border-secondary dark:hover:border-secondary-dark hover:text-secondary dark:hover:text-secondary-dark inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium"
        >
          Home
        </a>
        <a
          href="/about"
          data-route
          class="nav-link hover:border-secondary dark:hover:border-secondary-dark hover:text-secondary dark:hover:text-secondary-dark inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-black dark:text-white"
        >
          About Us
        </a>
        <a
          href="/contact"
          data-route
          class="nav-link hover:border-secondary dark:hover:border-secondary-dark hover:text-secondary dark:hover:text-secondary-dark inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-black dark:text-white"
        >
          Contact
        </a>
      </div>

      <div class="sm:hidden">
        <button
          id="mobile-menu-button"
          type="button"
          class="hover:text-primary dark:hover:text-primary-dark /* ➡️ FIXED: Removed to maintain efficiency */ focus:ring-secondary inline-flex items-center justify-center rounded-md p-2 text-black hover:bg-gray-100 focus:ring-2 focus:outline-none focus:ring-inset dark:text-white dark:hover:bg-gray-700"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="hidden sm:hidden" id="mobile-menu">
    <div class="space-y-1 pt-2 pb-3">
      <a
        href="/"
        data-route
        class="nav-link border-primary dark:border-primary-dark block border-l-4 py-2 pr-4 pl-3 text-base font-medium text-white"
      >
        Home
      </a>
      <a
        href="/about"
        data-route
        class="nav-link hover:text-primary dark:hover:text-primary-dark block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-white"
      >
        About Us
      </a>
      <a
        href="/contact"
        data-route
        class="nav-link hover:text-primary dark:hover:text-primary-dark block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-white"
      >
        Contact
      </a>
    </div>
  </div>
</nav>
